
        <div class="span6">
            <h2>{{friend.name}}</h2>
            <br>
            <!-- orderBy: sorterer baklengs etter dato -->
            <div ng-repeat="status in friend.statuses | StatusDateFilter | orderBy:'startdate':true" ng-model="statusmodel">
                <h3>{{status.text}}</h3>
                <p><small>added: {{status.startdate | date:'H:mm'}}, expires: {{status.enddate | date:'H:mm'}}</small></p>


                    <div ng-repeat="comment in friend.comments | commentFilter: statusmodel:status">

                    <p> <strong>{{comment.by}}</strong> {{comment.text}}
                        <br>
                        <small>{{comment.added | date:'H:mm'}}</small></p>
                </div>

                <div class="input-append">
                    <input type="text" ng-model="status.newcomment" placeholder="Write a comment..." class="span2">

                    <button class="btn btn-success" ng-click="comment(status)">Comment</button>
                </div>

                <br>
                <br>
                <br>
            </div>
        </div>
