


<div id="friendswrapper">
    <div class="friendsmainheader">
        <div class="friendssuperheader">
            <div ng-click="openFriend(currentUser)" class="userinfriendslistwrapper">
                <h4 class="userinfriendslist"><strong> <i class="icon-home"></i> <span class="shuffleletters"> {{ currentUser.name }} </span></strong></h4>
            </div>

        </div>
    </div>


        <h4><a ng-click="showDetails = ! showDetails" ng-hide="showDetails"><button class="btn btn-success">Add friend</button></a></h4>
        <div ng-show="showDetails">
            <div class="input-append">
                <input type="text" ng-model="friend.friendemail" placeholder="Friend's email ..." class="span2">

                <a href="#/friends"><button class="btn btn-success" ng-click="addFriend()">Add friend</button></a>
            </div>
        </div>


    <div ng-repeat="friend in friends" class="friendwrapper" ng-click="openFriend(friend); seen(friend)">
        <div class="friendcontainer">
            <h6><i class="icon-user"></i> {{  friend.name }}  </h6>
            <pikk ng-repeat="newStatus in newStatuses | newStatusFilter: friendmodel:friend ">

                <font color="red">New patch!</font>
            </pikk>
        </div>
    </div>



    <div ng-repeat="request in requests">
        <p>Request: {{request}}
            <a ng-click=acceptRequest(request)> Accept </a>

            <a ng-click=declineRequest(request)> Decline </a>
        </p>
    </div>

</div>


