

        <div id="friendswrapper">

            <h4><a ng-click="openFriend(currentUser)"><strong> <i class="icon-home"></i>{{ currentUser.name }}</strong></a></h4>
            <br>

            <div ng-repeat="friend in friends">
                 <br>
                <a ng-click="openFriend(friend)"> <i class="icon-user"></i> {{  friend.name}}</a>
            </div>

            <br>
            <div ng-repeat="request in requests">
                <p>Request: {{request}}
                    <a ng-click=acceptRequest(request)> Accept </a>

                    <a ng-click=declineRequest(request)> Decline </a>
                </p>
            </div>
            <a href="#/addfriend"><button class="btn-info btn btn-small">Add friend</button></a>
            <a href="/logout" class="headerbutton"><button class="btn-info btn btn-small" style="display: block">Log Out</button></a>

        </div>

